@import url('../style.css');

.secao-cinco {
    width: 100%;
}

.secao-cinco-container {
    display: grid;
    grid-template-columns: 55% 45%;
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem;
}


.secao-cinco .secao-cinco-imagem img {
    width: 100%;
    height: 100%;
}

.secao-cinco-topo h1 {
    font-size: 2.25rem;
}

.secao-cinco-topo p {
    padding-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.8rem;
    width: 95%;
    color: var(--cor-fonte-paragrafo-saiba-mais);
}

.secao-cinco-saiba-mais {
    padding-top: 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    color: var(--cor-fonte-trello);
    font-weight: bold;
}