      * {
          margin: 0;
          padding: 0;
      }

      /*coluna 1*/

      .linha-1 {
          display: flex;
          gap: 60px;
          width: 100%;
          justify-content: center;
      }

      .linha-1 .noticia {
          margin: 15px;
          justify-content: center;
      }

      .linha-1 .noticia .imagem {
          width: 227px;
          height: 150px;
          border: 1px solid black;
      }

      .linha-1 .noticia .texto{
        font-family: 'Inter';
      }

      .linha-2 {
        display: flex;
          min-height: 35%;
          width: 93%;
          position: fixed;
          margin: 0 40px 0 40px;
      }

      .linha-2 .item {
          width: 30%;

      }

      .linha-2 .item .imagem{
        height: 85%;
        background-color: grey;
      }

      .linha-2 .item .texto{
        height: 15%;
        text-align: center;
        font-family: 'Inter';
        margin-top: 10px;
      }

      .linha-2 .coluna-1 {
        width: 30%;
        margin: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
      }

      .linha-2 .coluna-1 .item{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .linha-2 .coluna-1 .item .imagem{
        width: 50%;
        background-color: grey;
      }

      .linha-2 .coluna-1 .item .texto{
        width: 50%;
        text-align: center;
        font-family: 'Inter';
        margin-top: 10px;
        
      }

      .linha-2 .coluna-2 {
        width: 30%;
        margin: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
      }

      .linha-2 .coluna-2 .item{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .linha-2 .coluna-2 .item .imagem{
        width: 50%;
        background-color: grey;
      }

      .linha-2 .coluna-2 .item .texto{
        width: 50%;
        text-align: center;
        font-family: 'Inter';
        margin-top: 10px;
        
      }
