@import url('../style.css');



.secao-um {
    background: var(--gradiente-secao-criar-conta);
    width:100%;
    

}

.secao-um-container{
    display: grid;
    grid-template-columns: 55% 45%;
    max-width: 80%;
    margin: 0 auto;
    padding: 10rem;
}


.secao-um .secao-um-imagem img {
    width: 100%;
    height: 100%;
}

.secao-um-topo h1 {
    font-size: 3rem;
}

.secao-um-topo p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    width: 95%;
}

.secao-um-conta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.botao-cria-conta {
    padding: 0.7rem 1rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    max-height: 2.8rem;
}

.input-cria-conta {
    margin: 0 1rem 1rem 0;
    padding: 0.8rem;
    border-color: rgb(193, 188, 188);
    border-radius: 5px;
    width: 350px;

}

.secao-um-link {
    height: 50px;
    display: flex;
    align-items: center;

}

.secao-um-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--cor-hover-botao);
}

.secao-um-link span {
    display: flex;
}