@import url('../style.css');


.secao-oito {
    width: 100%;

}

.secao-oito-container {
    max-width: 100%;
    background-color: var(--cor-background-citacao);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.secao-oito-conteudo {
    max-width: 80%;
    margin: 0 auto;

}

.secao-oito-container h1 {
    font-size: 2.25rem;
    line-height: 1.34;
    font-weight: 400;
}

.secao-oito-detalhes {
    display: flex;
    justify-content: space-around;
}

.secao-oito-inscreva-se {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--gradiente-inscricao);

}

.secao-oito-inscreva-se h1 {
    padding: 1.3rem;
    padding-top: 1.5rem;
    color: var(--cor-fonte-botao);
    font-weight: 400;
    text-align: center;
    line-height: 2.3rem;

}

.secao-oito-inscreva-se button {
    border: none;
}

.secao-oito-inscreva-se .secao-um-conta {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

}

.secao-oito-botoes-telas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background: rgb(250, 251, 252);
}

.secao-oito-botoes-telas img {
    max-width: 180px;
    padding: 1rem;
}