@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    /*padroes de cores, fontes, nome de variaveis confirme com o design*/
    --cor-background-botao: #0065FF;
    --cor-fonte-botao: #FFFFFF;
    --cor-footer: #091E42;
    --cor-hover-botao: #0747A6;
    --gradiente-inscricao: linear-gradient(#403294, #4C9AFF) no-repeat;
    --cor-background-citacao: #E6FCFF;
    --cor-background-principal:#FFFFFF;
    --gradiente-secao-criar-conta: linear-gradient(#EAE6FF, #FFFFFF) no-repeat;
    --cor-fonte-trello: #091E42;
    --font-family:'Nunito Sans', sans-serif;
    --cor-fonte-texto: #000000;
    --cor-fonte-paragrafo-saiba-mais: rgb(94, 108, 132);
}