@import url('./constants.css');
@import url('./header/header.css');
@import url('./botao-azul/botao.css');
@import url('./secao-um/secao-um.css');
/*se eu importar tudo aqui faciliata depois*/

*{
margin: 0;
padding: 0;
}


body{
    font-family: var(--font-family);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}